# My Jupyter Notebook on IBM Data Science Experience

**Vivek Kumar**  
Current Occupation= Software Engineer  
Desired Occupation= Data Scientist

Now a days Data are everywhere, just we want to find the right finding from the data.Data is now being considered as new oil which is valuable and needs to be changed into various gases, chemicals etc, should be broken down to its molecular levels, should carry out analysis upon it and derive the profitability to the new economy basis and hence I would like to pursue data science career in this sector.

### My code in next  cell should give the result of 15 multiplied by 15

In [1]:
15*15

225

**Numbered List**  
First four months of Calender are as follows:
1. January
2. February
3. March
4. April

**Bulleted List**  
Some of the top Developing Countries in 2019 are as follows
* Argentine  
* Brazil  
* Chile  

**Table**

| SN | Sum of two consucutivenumbers | Sum of three consecutive Numbers | Sum of four Consecutive Numbers |
| -- | :----------------------------: | :------------------------------: | :-----------------------------: |
| 1. | 3 | 6 | 10 |
| 2. | 5 | 9 | 14 |
| 3. | 7 | 12 | 18 |
| 4. | 9 | 15 | 22 |